@model AspNetIdentityTry1.Models.ItemsData

@{
    ViewBag.Title = "EditItem";

    List<SelectListItem> listPriorities = new List<SelectListItem>();
    listPriorities.Add(new SelectListItem
    {
        Text = "VeryLow",
        Value = "VeryLow"
    });
    listPriorities.Add(new SelectListItem
    {
        Text = "Low",
        Value = "Low"
    });
    listPriorities.Add(new SelectListItem
    {
        Text = "Medium",
        Value = "Medium"
    });
    listPriorities.Add(new SelectListItem
    {
        Text = "High",
        Value = "High"
    });
    listPriorities.Add(new SelectListItem
    {
        Text = "VeryHigh",
        Value = "VeryHigh"
    });

    List<SelectListItem> listUsers = new List<SelectListItem>();

    if (Model.ViewInfo.AllUsersName != null)
    {
        foreach (var userName in Model.ViewInfo.AllUsersName)
        {
            listUsers.Add(new SelectListItem
            {
                Text = userName,
                Value = userName
            });
        }
    }

    List<SelectListItem> listStatuses = new List<SelectListItem>();
    listStatuses.Add(new SelectListItem
    {
        Text = "New",
        Value = "New"
    });
    listStatuses.Add(new SelectListItem
    {
        Text = "InProgress",
        Value = "InProgress"
    });
    listStatuses.Add(new SelectListItem
    {
        Text = "Done",
        Value = "Done"
    });
}

<h2>Edit Item</h2>

@if (TempData["Notification"] != null)
{ 
    <h4 style="color: red">@TempData["Notification"]</h4>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.OneItem.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.OneItem.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
            @if(Model.Setup != null)
            {
                if (Model.Setup.AllowUserChangeItem || User.IsInRole("Administrator"))
                { 
                    @Html.EditorFor(model => model.OneItem.Name, new { htmlAttributes = new { @class = "form-control" } })
                }
                else
                { 
                    @Html.EditorFor(model => model.OneItem.Name, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                }
            }
            else
            { 
                @Html.EditorFor(model => model.OneItem.Name, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
            }
                @Html.ValidationMessageFor(model => model.OneItem.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OneItem.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
            @if(Model.Setup != null)
            {
                if (Model.Setup.AllowUserChangeItem || User.IsInRole("Administrator"))
                {
                    @Html.EditorFor(model => model.OneItem.Description, new { htmlAttributes = new { @class = "form-control" } })
                }
                else
                { 
                    @Html.EditorFor(model => model.OneItem.Description, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                }
            }
            else
            { 
                @Html.EditorFor(model => model.OneItem.Name, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
            }
                @Html.ValidationMessageFor(model => model.OneItem.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.OneItem.Priority, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
            @if(Model.Setup != null)
            {
                if (Model.Setup.AllowUserChangeItem || User.IsInRole("Administrator"))
                {
                    @Html.DropDownListFor(model => model.OneItem.Priority, listPriorities, new { @class = "form-control" })                
                }
                else
                { 
                    @Html.DropDownListFor(model => model.OneItem.Priority, listPriorities, new { disabled = "disabled", @class = "form-control" })
                    @Html.HiddenFor(m => m.OneItem.Priority)
                }
            }
            else
            {
                @Html.DropDownListFor(model => model.OneItem.Priority, listPriorities, new { disabled = "disabled", @class = "form-control" })
                @Html.HiddenFor(m => m.OneItem.Priority)
            }
                @Html.ValidationMessageFor(model => model.OneItem.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OneItem.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (User.IsInRole("Administrator") || User.IsInRole("SuperUser"))
                {
                    @Html.DropDownListFor(model => model.OneItem.UserName, listUsers, new { @class = "form-control" })
                }
                else
                {
                    @Html.DropDownListFor(model => model.OneItem.UserName, listUsers, htmlAttributes: new { @readonly = "readonly", @class = "form-control" })
                }
                @Html.ValidationMessageFor(model => model.OneItem.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OneItem.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.OneItem.Status, listStatuses, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OneItem.Status, "", new { @class = "text-danger" })
            </div>
        </div>
                
        @if(Model != null)
        {
            @Html.HiddenFor(m => m.OneItem.ParentUserName)
            @Html.HiddenFor(m => m.OneItem.Created)
            @Html.HiddenFor(m => m.ViewInfo.InvokingViewAction)
            @Html.HiddenFor(m => m.OneItem.UserName)
        }
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
