@model AspNetIdentityTry1.Models.User

@{
    ViewBag.Title = "DeleteUser";

    List<SelectListItem> listUsersName = new List<SelectListItem>();

    if (ViewBag.allUsersName != null)
    {
        foreach (var userName in ViewBag.allUsersName)
        {
            listUsersName.Add(new SelectListItem
                {
                    Text = userName,
                    Value = userName
                });
        }
    }
    
}

<h2>Delete User</h2>

@if (TempData["Notification"] != null)
{
    <h4 style="color: red">@TempData["Notification"]</h4>
}

@using (Html.BeginForm())
{ 
   // @Html.HiddenFor(m => m.UserName)

    <div class="form-group">
        <div>
            @*@Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @Html.LabelFor(model => model.UserName)
        </div>
        <!--<div class="col-md-10">-->            
        <div>
            @Html.DropDownListFor(model => model.UserName, listUsersName)
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
        <div style="margin: 5px">
            @*<button type="submit" class="btn btn-default">Are you sure to delete @User.Identity.Name user?</button>*@
            <button type="submit" class="btn btn-default">Delete user</button>
        </div>
    </div>

    
}